@mixin BG($first, $second, $third) {
  background: linear-gradient(
    to bottom,
    var(--main-color) 0%,
    var(--main-color) $first,
    rgba(0, 0, 0, 0) 100%
  );
  left: $second;
  width: $third;
}
@mixin BG2($first, $second, $third, $fourth) {
  background: linear-gradient(
    to bottom,
    var(--main-color) 0%,
    var(--main-color) $first,
    rgba(0, 0, 0, 0) $second,
    rgba(0, 0, 0, 0) 100%
  );
  left: $third;
  width: $fourth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  --main-color: #ffa801;
}
$bg-color: #000000;
$duration: 0.7s;

.App {
  height: 100vh;
  overflow: hidden;
}
#container {
  animation: NetflixVisibility 1.8s 2.1s ease-in-out;
  position: absolute;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  overflow: hidden;

  netflixintro {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    animation: zoom-in 3.5 * $duration ease-in 0.5s forwards;
    background-size: 4000px;
    background-position: -1950px 0;
    &::before {
      content: "";
      position: absolute;
      display: block;
      background-color: $bg-color;
      width: 150%;
      height: 30%;
      left: -25%;
      bottom: -27%;
      border-radius: 50%;
      z-index: 5;
      transform-origin: left center;
      background-size: 4000px;
      background-position: -1950px 0;
    }
    &[letter="E"] {
      transform-origin: 30% center;
      .helper-1 {
        z-index: 1;
        width: 19.5%;
        height: 100%;
        background-color: rgba(var(--main-color), 1);
        left: 21%;
        top: 0;
        transform: rotate(180deg);
        animation: input-shadow 3.5 * $duration ease-in 0.5s forwards;
        .effect-brush {
          animation: brush-moving 4 * $duration ease 0.5s forwards;
          [class*="fur-"] {
            bottom: 0;
            height: 40%;
          }
        }
      }
      .helper-2 {
        width: 17.5%;
        height: 50%;
        left: 38%;
        top: -49px;
        transform: rotate(270deg);
        overflow: hidden;
        .effect-brush {
          animation: brush-moving 2 * $duration ease 0.8s forwards;
        }
      }
      .helper-3 {
        width: 17%;
        height: 39%;
        left: 33%;
        top: 29%;
        transform: rotate(-90deg);
        box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        animation: fading-out 2 * $duration ease 1s forwards;
        .effect-brush {
          animation: brush-moving 2 * $duration ease 0.6s forwards;
        }
      }
      .helper-4 {
        width: 17.5%;
        height: 50%;
        left: 38%;
        top: 196px;
        transform: rotate(270deg);
        overflow: hidden;
        .effect-brush {
          animation: brush-moving 2 * $duration ease 0.5s forwards;
        }
      }
    }
    [class*="helper-"] {
      position: absolute;
      .effect-brush {
        position: absolute;
        width: 100%;
        height: 300%;
        top: 0;
        overflow: hidden;
        &::before {
          display: block;
          content: "";
          position: absolute;
          background-color: var(--main-color);
          width: 100%;
          height: 70%;
          box-shadow: 0px 0px 29px 24px var(--main-color);
        }
        [class*="fur-"] {
          display: block;
          position: absolute;
          bottom: 10%;
          height: 30%;
        }
        .fur-1 {
          @include BG2(15%, 81%, 0%, 3.8%);
        }
        .fur-2 {
          @include BG2(10%, 62%, 3.8%, 2.8%);
        }
        .fur-3 {
          @include BG(37%, 6.6%, 4.8%);
        }
        .fur-4 {
          @include BG(23%, 11.4%, 4%);
        }
        .fur-5 {
          @include BG2(15%, 86%, 15.4%, 4%);
        }
        .fur-6 {
          @include BG2(27%, 89%, 19.4%, 2.5%);
        }
        .fur-7 {
          @include BG(20%, 21.9%, 4%);
        }
        .fur-8 {
          @include BG(30%, 25.9%, 2%);
        }
        .fur-9 {
          @include BG2(35%, 95%, 27.9%, 4%);
        }
        .fur-10 {
          @include BG2(39%, 95%, 31.9%, 3.5%);
        }
        .fur-11 {
          @include BG2(34%, 95%, 35.4%, 2%);
        }
        .fur-12 {
          @include BG2(22%, 95%, 37.4%, 2.6%);
        }
        .fur-13 {
          @include BG(47%, 40%, 6%);
        }
        .fur-14 {
          @include BG(36%, 46%, 2%);
        }
        .fur-15 {
          @include BG(29%, 48%, 5.5%);
        }
        .fur-16 {
          @include BG2(39%, 95%, 53.5%, 3%);
        }
        .fur-17 {
          @include BG(45%, 56.5%, 4.1%);
        }
        .fur-18 {
          @include BG(34%, 60.6%, 2.4%);
        }
        .fur-19 {
          @include BG(47%, 63%, 4%);
        }
        .fur-20 {
          @include BG2(27%, 95%, 67%, 1.5%);
        }
        .fur-21 {
          @include BG(37%, 68.5%, 2.8%);
        }
        .fur-22 {
          @include BG(9%, 71.3%, 2.3%);
        }
        .fur-23 {
          @include BG2(28%, 92%, 73.6%, 2.2%);
        }
        .fur-24 {
          @include BG(37%, 75.8%, 1%);
        }
        .fur-25 {
          @include BG(28%, 76.8%, 2.1%);
        }
        .fur-26 {
          @include BG(34%, 78.9%, 4.1%);
        }
        .fur-27 {
          @include BG(21%, 83%, 2.5%);
        }
        .fur-28 {
          @include BG(39%, 85.5%, 4.5%);
        }
        .fur-29 {
          @include BG(30%, 90%, 2.8%);
        }
        .fur-30 {
          @include BG(19%, 92.8%, 3.5%);
        }
        .fur-31 {
          @include BG(37%, 96.3%, 3.7%);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #container netflixintro {
    animation-name: zoom-in-mobile;
  }
}

@keyframes brush-moving {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes fading-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(35);
  }
}
@keyframes input-shadow {
  0% {
    box-shadow: none;
  }
  70% {
    box-shadow: 1px 1px 5px 1px var(--main-color),
      -1px -1px 5px 1px var(--main-color);
  }
  100% {
    box-shadow: 1px 1px 5px 1px var(--main-color),
      -1px -1px 5px 1px var(--main-color);
  }
}
@keyframes zoom-in-mobile {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(20);
  }
}
@keyframes NetflixVisibility {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
