.skills {
  &__container {
    display: flex;
    justify-content: space-evenly;
    &__item {
      display: flex;
      flex-direction: column;
      .icon {
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
      }
      span {
        font-size: 2rem;
        font-weight: bold;
      }
      &__name {
        width: 70%;
        margin: 1rem 0;
        color: rgb(255, 255, 255, 0.7);
        font-size: 1.1rem;
        text-align: center;
        width: fit-content;
        [class^="devicon-"],
        .pi {
          opacity: 0;
          width: fit-content;
          display: flex;
          margin: 0.5rem 0;
          font-family: "Sofia Pro", sans-serif !important;
          text-align: left;
          font-size: 1.2rem;
          &::before {
            margin-right: 0.75rem;
          }
        }
        .pi::before {
          font-family: "primeicons" !important;
        }
        [class^="devicon-"]::before {
          font-family: "devicon" !important;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .skills span {
    font-size: 1.7rem;
  }
}

@media (max-width: 1070px) {
  .skills span {
    font-size: 1.4rem;
  }
}

@media (max-width: 910px) {
  .skills__container {
    flex-direction: column;
    align-items: center;
    &__item {
      width: 150px;
      &.first,
      &.second {
        margin-bottom: 2rem;
      }
      &__name {
        width: 100%;
      }
    }
  }
}

@media (max-width: 750px) {
  .skills {
    padding: 0 1rem;
  }
}
