@import url("https://fonts.cdnfonts.com/css/sofia-pro");

body {
  color: white;
  font-family: "Sofia Pro", sans-serif;
}

.App {
  padding: 0 6rem;
  text-align: left;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  h1 {
    margin: 10rem 0 5rem 0;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    position: relative;
    &:after {
      position: absolute;
      display: block;
      content: "";
      height: 2px;
      width: 10rem;
      background-color: white;
      bottom: -1rem;
      left: 5px;
    }
  }
}

@media (max-width: 700px) {
  .App {
    justify-content: unset;
    h1 {
      font-size: 2rem !important;
    }
  }
}

@media (max-width: 600px) {
  .App {
    padding: 0 3rem;
  }
}

@media (max-width: 400px) {
  .App {
    padding: 0 1rem;
  }
}
