@import url("https://fonts.cdnfonts.com/css/sofia-pro");

.App {
  scroll-behavior: smooth;
  text-align: left;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Sofia Pro", sans-serif;
  h2 {
    padding: 2rem 0 2rem 7rem;
  }
  h1 {
    margin: 10rem 0 5rem 0;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    position: relative;
    &:after {
      position: absolute;
      display: block;
      content: "";
      height: 2px;
      width: 10rem;
      background-color: white;
      bottom: -1rem;
      left: 5px;
    }
  }
  .home_title {
    font-size: 3rem;
  }
  .name {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .App {
    justify-content: unset;
    h1 {
      font-size: 2rem !important;
    }
  }
}
